@model IEnumerable<OrderDTO>
@{
    ViewData["Title"] = "List of orders";
}

<div class="row">
    <div class="col-md-8 offset-2">
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <h4>This is list of users orders</h4>
        }
        @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
        {
            <h4>This is list of your orders</h4>
        }
        @foreach (var order in Model)
        {
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Order date: @order.OrderDate</li>
                    <li class="list-group-item">Order price: @order.Price</li>
                    <li class="list-group-item">Address: @order.Street @order.BuildingNumber / @order.ApartamentNumber @order.PostalCode </li>
                    <li class="list-group-item">Your comment: @order.Comment</li>
                    <li class="list-group-item">Ordered items: 
                    @foreach (var instrument in order.OrderedItems) 
                    {
                        <p> |  @instrument.Name  | </p>
                    }
                    </li>
                </ul>
            </div>
        }
    </div>
</div>

